### Haskell ###
dist
dist-*
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
stack.yaml.lock
cabal.project.local*
.HTF/
.ghc.environment.*
.ghci
*.tix

### Nix ###
result*
